<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<body>
<section layout:fragment="content">


<h2 th:text="'Hello! Let s get started!' " > </h2> </br>


<h4 th:text="'Add a ride:'">  </h4></br>
<a th:href="@{ride/add}"> Add a ride </a>



<h4 th:text="'List of available rides'">  </h4></br>
<a th:href="@{ride/listRides}"> List of rides </a>


<h4 th:text="'Show user details'">  </h4></br>
<a th:href="@{user/showUser}"> Show User </a>
</br>


    <span sec:authorize="isAuthenticated()">
<form th:action="@{/logout}" method="post">
<input type="submit" value="Wyloguj"/>
</form>
</span>
</section>
</body>
</html>