<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->
      <!--layout:decorator="layout">-->
<!--<body>-->
<!--<section layout:fragment="content">-->
<!--<h1>Delete your Ride: ${ride.id}</h1>-->
<!--<form th:action="@{/ride/updateRide}" th:object="${ride}" method="post">-->
    <!--<p> From: <input type="text" th:field= "*{placeA}" /></p>-->
    <!--<p> To: <input type="text" th:field="*{placeB}" /></p>-->
    <!--<p>Date: <input type="text" th:field="*{date}" /></p>-->
    <!--<p>Time: <input type="text" th:field="*{time}" /></p>-->
    <!--<p>Time: <input type="text" th:field="*{time}" /></p>-->
    <!--<p>Time: <input type="text" th:field="*{time}" /></p>-->
    <!--<p><input type="submit" value="Submit" /></p>-->
<!--</form>-->

<!--<a th:href="@{/welcome}"> Back to Main Page </a>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->
